/* Fix the particle canvas height for all screens */
#particles-js {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  
  /* Styles for the whole body */
  body {
    background-color:#000000;
    font-family: 'Arial', sans-serif; /* Default font family */
  }
  
  /* Icons */
  .icon-container {
    position: fixed;
    top: 20px; /* Adjust as needed */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Center horizontally */
    width: 200px; /* Adjust as needed */
    height: 200px; /* Adjust as needed */
    perspective: 1000px; /* Adds 3D perspective */
    z-index: 1; /* Ensure icon container is above the particle canvas */
  }
  
  .icon, .image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    backface-visibility: hidden; /* Hides the back side during the animation */
    transition: transform 0.5s; /* Smooth animation */
  }
  
  .icon {
    background-image: url('./img/Profile.png'); /* Your icon image */
    transform-style: preserve-3d; /* Preserves 3D transformations */
    border-radius:50%; /* Make the icon circular */
  }
  
  .image {
    background-image: url('./img/ProfilePicture.png'); /* Your profile picture */
    transform: rotateY(180deg); /* Initially flipped */
    border-radius:50%; /* Make the profile picture circular */
  }
  
  .icon-container:hover .icon {
    transform: rotateY(-180deg); /* Flips the icon */
  }
  
  .icon-container:hover .image {
    transform: rotateY(0deg); /* Flips the profile picture */
  }
  
  /* Name */
/* Name */
.name {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white; /* Text color */
    font-size: 64px; /* Adjust as needed */
  }
  