/* Custom scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  width: 5px;
  /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: transparent;
  /* Color of the track */
}

::-webkit-scrollbar-thumb {
  background: #444444;
  /* Color of the scroll thumb */
  border-radius: 20px;
  /* Optional: rounded scroll thumb */
  border: 3px solid #eeff00;
  /* Optional: creates padding around scroll thumb */
}

html {
  scrollbar-width: thin;
  /* "auto" or "thin" */
  scrollbar-color: #444444 transparent;
  /* thumb and track */
}

/* Fix the particle canvas height for all screens */
#particles-js {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

/* Styles for the whole body */
body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #000000;
  font-family: 'Arial', sans-serif;
  /* Default font family */
  scroll-behavior: smooth;
}

/* Icons */
.icon-container {
  position: absolute;
  top: 50px;
  /* Adjust as needed */
  left: 50%;
  /* Center horizontally */
  transform: translateX(-50%);
  /* Center horizontally */
  width: 200px;
  /* Adjust as needed */
  height: 200px;
  /* Adjust as needed */
  perspective: 1000px;
  /* Adds 3D perspective */
  z-index: 0;
  /* Ensure icon container is above the particle canvas */
}

.icon,
.image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  backface-visibility: hidden;
  /* Hides the back side during the animation */
  transition: transform 0.5s;
  /* Smooth animation */
}

.icon {
  background-image: url('./img/Profile.png');
  /* Your icon image */
  transform-style: preserve-3d;
  /* Preserves 3D transformations */
  border-radius: 50%;
  /* Make the icon circular */
}

.image {
  background-image: url('./img/ProfilePicture.png');
  /* Your profile picture */
  transform: rotateY(180deg);
  /* Initially flipped */
  border-radius: 50%;
  /* Make the profile picture circular */
}

/* Name */
.name {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  /* Text color */
  font-size: 64px;
  /* Adjust as needed */
}

.description {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  /* Text color */
  font-size: 20px;
  /* Adjust as needed */
}

/* Nation */
.nation {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (max-width: 600px) {

  .nation .name,
  .nation .description {
    width: 100%;
    /* Take full width */
    text-align: center;
    /* Center the text */
  }

  .nation .name {
    min-height: 60px;
    /* Adjust as needed */
  }
}

.downarrow {
  position: absolute;
  bottom: 1%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  /* Text color */
  font-size: 40px;
  /* Adjust as needed */
}

.section {
  height: 100vh;
  /* Full viewport height */
}

#down {
  background-color: transparent;
  color: white;
  cursor: pointer;
  border: none;
  width: 500px;
  height: 100px;
}

/* Curtain Menu styles */
/* The Overlay (background) */
.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */
  height: 100%;
  width: 0;
  position: fixed;
  /* Stay in place */
  z-index: 21;
  /* Sit on top */
  left: 0;
  top: 0;
  background-color: rgb(0, 0, 0);
  /* Black fallback color */
  background-color: rgba(0, 0, 0, 0.75);
  /* Black w/opacity */
  overflow-x: hidden;
  /* Disable horizontal scroll */
  transition: 0.5s;
  /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.5);
  /* Fallback background color */
}

/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  top: 25%;
  /* 25% from the top */
  width: 100%;
  /* 100% width */
  text-align: center;
  /* Centered text/links */
  margin-top: 30px;
  /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #ffffff;
  display: block;
  /* Display block instead of inline */
  transition: 0.3s;
  /* Transition effects on hover (color) */

}

/* When you mouse over the navigation links, change their color */
.overlay a:hover,
.overlay a:focus {
  color: #eeff00;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px
  }

  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

.fa-bars {
  color: white;
  margin-left: 5px;
  margin-top: 5px;
  font-size: 2em !important;
  position: fixed;
  z-index:20;
}

/* Style all font awesome icons */
.fa-bars{
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  transition: 0.5s;
}

/* Add a hover effect if you want */
.fa-bars:hover {
  color: yellow;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}

/* youtube */
.fa-spotify {
  background: #000000;
  color: rgb(41, 204, 0);
}
.about-me-text {
  position: relative; /* Ensure positioning is relative */
  width: 80%; /* Adjust the width as needed */
  max-width: 800px; /* Ensures the text does not become too wide on large screens */
  text-align: center; /* Center the text within the element */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white; /* Adjust the color as needed */
  font-size: 24px; /* Default font size */
  line-height: 1.6; /* Adjust line height for readability */
  padding: 20px; /* Adds some space around the text */
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background for readability */
  border-radius: 10px; /* Rounded corners for aesthetics */
}

@media screen and (max-width: 768px) {
  .about-me-text {
    font-size: 20px; /* Adjust font size for smaller screens */
  }
}

@media screen and (max-width: 576px) {
  .about-me-text {
    font-size: 18px; /* Adjust font size for even smaller screens */
  }
}
hr {
  width:90%;
}

.contact-form {
 width: 80%;
 max-width: 800px;
 margin: 0 auto;
 margin-top:5%;
 padding: 20px;
 background-color: rgba(0, 0, 0, 0.7); /* Slightly darker background for better contrast */
 border-radius: 10px; /* Rounded corners for aesthetics */
 color: white; /* Text color */
}

.contact-form h2 {
 text-align: center;
 margin-bottom: 20px;
}

.contact-form label {
 display: block;
 margin-bottom: 5px;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
 width: 100%;
 padding: 10px;
 margin-bottom: 20px;
 border: 2px solid #eeff00; /* Added border to text fields */
 border-radius: 5px; /* Rounded corners for aesthetics */
 background-color: rgba(255, 255, 255, 0.1); /* Light background for input fields */
 color: white; /* Text color */
 resize:none; 
}
.contact-form textarea {
  height: 150px;
}

.contact-form input[type="submit"] {
 width: 100%;
 padding: 10px;
 border: none;
 border-radius: 5px;
 background-color: #eeff00; /* Button color */
 color: black; /* Button text color */
 cursor: pointer;
 transition: 0.3s ease-in-out;
}

.contact-form input[type="submit"]:hover {
 background-color: #ffffff; /* Button hover color */
 color: black; /* Button text color on hover */
 transform: background-color(#ffffff);
 transition: 0.3s;
}

